*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.textoJardin{
    max-width: 50vw;
}

.logo{
    width: 80px;
    height: auto;
}

.navbar{
    margin-top: 0px;
    height: 60px;
}
.navbar-item{
    color: white !important;
}

.navbar-item:hover {
    color:rgb(73, 173, 94) !important;
    background-color: white;
}

.navbar-center {
  margin: 0 160px;
}

.navbar-brand{
     background-color: rgb(73, 173, 94);
}

.navbar-menu {
     background-color: rgb(73, 173, 94);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 3.25rem; /* altura del navbar */
}
.text-color{
    color: white;
}


#inicio{
    background-image:url(/image/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;   /* ocupa toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorBienvenido{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bienvenido {
    font-family: 'Baloo 2', cursive; 
    font-size: 3rem;
    color: #FFFDF5;
    margin-bottom: 10px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 5);
}
.titulo-inicio{
    font-family: 'Baloo 2', cursive;
    font-size: 4rem;
    font-weight: 800; /* NEGRITA */
    color: #FFFDF5;
    letter-spacing: 2px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 5);
}

/*Poner un stylo para que sea automatico  */
#historia {
    background-image: url(/image/historia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;   /* ocupa toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
}

.historia{
    font-family: 'Baloo 2', cursive;

    text-align: center;
    justify-content: center;

}

.contenedorParrafoHistoria{
    margin-left: 30px;
}

.tituloHistoria {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.parrafoHistoria{
    font-family: 'Nunito', sans-serif;
}

.contenedorImagenHistoria {
    
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.imagenHistoria {
    width: 80%;
    height: auto;
    max-width: 100%;
    border-radius: 5%;
}

#contacto{
    justify-items: center;
}

.field {
    width: 50%;
}

.contenedorLogoWhatapp{
    display: flex;
    align-items: center;
}

.logoWhatsapp {
    max-width: 5%;
    margin-left: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.tituloEquipo {
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    color: rgb(73, 173, 94);
    text-align: center;
    justify-content: center;
}

.equipo {
    background-image: url(/image/fondoEquipo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;   /* ocupa toda la pantalla */
}

.contenedorDocentes{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
}

.cell{
    border-style: solid;
    border-width: 4px;
    border-radius: 5%;
    border-color: rgb(73, 173, 94);
    
}

.imagenDocente{
    border-radius: 5%;
}
